body{
    margin: 0px;
    padding:0px;


}

.heading{
    display:flex;
   
    align-items: center;
    justify-content: space-between;
    gap:200px;
    margin-bottom:20px;
    margin-left:135px;

}

.navbar ul li {
    list-style: none;
}
.ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:506px;
    height: 43px;
    padding: 10px 0px;
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 127px;
}
.menubar{
    display:none;
}


.banner{
    display:flex;
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    width:1170px;
    height:500px;
    flex-shrink: 0;
    border-radius: 16px; 
    margin-left:135px;
    margin-right: 135px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
}
.banner h1{
    color: #FFF;

font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 24px;
}
.banner h5{
    color: #FFF;

text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-bottom: 24px;
}
#input-container{
    display:flex;
     width: 800px;
     height:84px;
     padding: 16px;
     gap:24px;
     flex-direction:row;
    
     justify-content: center;
     border-radius:8px;
     border-radius: 8px;
background: rgba(255, 255, 255, 0.30);



}
.input{
width: 34px;
height: 22px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
padding:16px;
padding-right:84px;
}
#inputx{
    display:flex;
    width: 34px;
height: 22px;
flex-shrink: 0;
border-radius: 8px;
background-color: #FF5400;
padding:16px;
padding-right:84px;
gap:10px;
}
@media screen and (max-width: 600px){



}